form{
    background-color:rgb(103, 41, 241) ;
    display: flex;
    text-align: right;
}
header{
    background-color:rgb(103, 41, 241) ;
    /* display: flex; */
    /* width: 1024px; */
    height: 70px;
    text-align: center;
    justify-content: center;
}
